.title-header{
	padding-left: 5em;
	padding-top: 2em;
	padding-bottom: 2em;
	height: 7em;

}
.outer-header{
	background-color: #414141;
	padding-bottom: 1em;
	min-width: 50em;
	width: 100%;
}

p{
	color: #eee;
	padding-left: 2em;
}

.title-header{
}

.img1{
	float: left;
}

.menu ul li {
    display:inline-block;
    float: left;
    padding-left: 1em;
}

.link{
	color: #eee;
}

.link:hover{
	color: rgb(155, 252, 27);
}

.usermsg{
	width: 20em;
}