

<div class="outer-header">
	<div class="title-header ">

<img class="img1  stnd default-logo dark-version" alt="Perfit Dental Solutions" src="./assets/PerFit-Small.png" style="height: 66px;">

        <div class="menu">
            <ul>
              <li><a class="nav-link link" href="dashboard">Home <span class="sr-only">(current)</span></a></li>
              <li><a class="nav-link link" href="mainupload">Create Article <span class="sr-only">(current)</span></a></li>
              <li><a class="nav-link link" href="pushmessage">Create Push Notification<span class="sr-only">(current)</span></a></li>
              <li><a class="nav-link link" href="downloadpage">Download APK <span class="sr-only">(current)</span></a></li>

              

               <li><a class="nav-link link" href="logout">Logout <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
 </div>
<p class="usermsg"> Welcome, <br> {{ user }} </p>
</div>

