
<GridLayout tkMainContent>
 <TabView #tabview tabBackgroundColor="#414141" selectedTabTextColor="rgb(182, 253, 1)" >
     
	<StackLayout *tabItem="{title: 'News'}" class="flex">
			<Button text="Refresh" (tap)="firestoreWhereDentists()" class="btn"></Button>  

        <!-- News Tab -->

		<ListView [items]="myItems$ | async" height="800" *ngIf="myItems$" class="list-group" separatorColor="transparent">

			<ng-template let-item="item" class="entire-item">


			<StackLayout>

			<StackLayout class="list-item" *ngIf="item.verified == 'Yes' && item.articletype == 'News'" > 

				<!--*ngIf="item.articletype == 'News'" -->

					<StackLayout>
						<Label text="{{item.title}}" class="title" textWrap="true" (tap) = "viewDetail(item.title)"></Label>
					</StackLayout>

					<GridLayout *ngIf="item.datatype === 'Image'" class="item-image" >
					<Image src="{{item.url}}" (tap) = "viewDetail(item.title)"></Image> 
					</GridLayout> 

					<GridLayout *ngIf="item.datatype === 'Video'" class="item-image">
					<VideoPlayer 
					src="{{item.url}}"
					autoplay="false" 
					height="300"></VideoPlayer>
					</GridLayout>

					<GridLayout *ngIf="item.datatype === 'PDF'" class="item-image">
						<!-- <Label text="This will show a PDF" (tap) = "viewDetail(item.title)"></Label> -->

						<PDFView src="{{item.url}}" (load)="onLoad()"></PDFView>
					</GridLayout> 

					<StackLayout class="timeposted">
					<Label text="posted: {{item.time}}"></Label>
					</StackLayout>


			</StackLayout>

			</StackLayout>

			</ng-template>
		</ListView>



	</StackLayout>

        <!-- Info Tab -->
    	<StackLayout *tabItem="{title: 'Info'}" class="flex">
		<Button text="Refresh" (tap)="firestoreWhereDentists()" class="btn"></Button>  


		<ListView [items]="myItems$ | async" height="800" *ngIf="myItems$" class="list-group" separatorColor="transparent">

			<ng-template let-item="item" class="entire-item">


			<StackLayout>

			<StackLayout class="list-item" *ngIf="item.verified == 'Yes' && item.articletype == 'Info'"> 


					<StackLayout>
						<Label text="{{item.title}}" class="title" textWrap="true" (tap) = "viewDetail(item.title)"></Label>
					</StackLayout>

					<GridLayout *ngIf="item.datatype === 'Image'" class="item-image" >
					<Image src="{{item.url}}" (tap) = "viewDetail(item.title)"></Image> 
					</GridLayout> 

					<GridLayout *ngIf="item.datatype === 'Video'" class="item-image">
					<VideoPlayer 
					src="{{item.url}}"
					autoplay="false" 
					height="300"></VideoPlayer>
					</GridLayout>

					<GridLayout *ngIf="item.datatype === 'PDF'" class="item-image">
						<Label text="This will show a PDF" (tap) = "viewDetail(item.title)"></Label> 
					</GridLayout> 

					<StackLayout class="timeposted">
					<Label text="posted: {{item.time}}"></Label>
					</StackLayout>


			</StackLayout>

			</StackLayout>

			</ng-template>
		</ListView>



	</StackLayout>   



        <!-- Providers Tab -->
  
        <GridLayout *tabItem="{title: 'Providers'}">
				<GridLayout> background="#414141"><Button class="btn btn-primary btn-active" text="Find Your Location" (tap)="startWatchingLocation()"></Button>
				</GridLayout>
				<MapView #mapView [latitude]="latitude" [longitude]="longitude"
				[zoom]="zoom" [bearing]="bearing"
				[tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
				(markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
				(markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
				(markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
   (cameraChanged)="onCameraChanged($event)"></MapView>
   

		</GridLayout>
  </TabView>
</GridLayout>



    
