.footer {

    height:4em; 
    min-width: 50em;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: relative;
    bottom: 0pt;
    left: 0pt;
    background-color: #414141;

}   

.footer_contents {
    text-align: center;
    height:4em; 
    width: 1000px; 
    margin:auto;
}

a{
    color: #eee;
}

a:hover{
    color: rgb(155, 252, 27);
    text-decoration: none;
}

p{
    color: rgb(155, 252, 27);
}

/*    background-color: rgba(0,0,0,0.78);

a - color: #eee;
hover - color: rgb(155, 252, 27);
p -  color: rgb(155, 252, 27);
  text-align: center;

*/

