
<RadSideDrawer class="body" tkExampleTitle tkToggleNavButton>

     <!-- Main action bar content       -->
    <StackLayout tkMainContent>
        <!-- <Label [text]="mainContentText" textWrap="true" class="drawerContentText"></Label> -->
        <ActionBar class="action-bar" title="">
                <StackLayout orientation="horizontal"



                    ios:horizontalAlignment="left"
                    android:horizontalAlignment="left"> 
                    <Button text="≡" (tap)="openDrawer()" class="drawerContentButton"></Button> 
                    <Image src="~/images/mainlogo.png" class = "image"></Image>            

                </StackLayout>
        </ActionBar>
        <tabs></tabs>
    </StackLayout>


    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>


        <!-- switch buttons in menu bar -->
        <StackLayout class="sideStackLayout">
                <!-- permissions switch -->
                <StackLayout orientation="horizontal" horizontalAlignment="center" class= "switches">
                    <label text = "Dental Professional?"></label>
                    <switch (checkedChange) = "professionalSwitch($event)"></switch>
                </StackLayout>

                <!-- Notification switch -->
                <StackLayout orientation="horizontal" horizontalAlignment="center">
                    <label text = "Push Notifications?"></label>
                    <switch  (checkedChange) = "notificationSwitch($event)" ></switch>
                </StackLayout>
                <StackLayout orientation="vertical" class="bottomlabel">
                        <Label text="Contact Perfit" class="sideLabel sideLightGrayLabel"></Label>
                        <label text ="perfitdental.com" class = "sideLabel"></label>
                </StackLayout>
            
                     
        </StackLayout>
    </StackLayout>





</RadSideDrawer>
